/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    rgba(195,80,34,1) 30%,
    rgba(253,205,45,1)
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    rgba(240, 248, 255, 0.75) 50%,
    rgba(206, 226, 245, 0.75) 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  /*--vp-custom-block-tip-border: var(--vp-c-brand);*/
  /*--vp-custom-block-tip-text: var(--vp-c-brand-darker);*/
  /*--vp-custom-block-tip-bg: var(--vp-c-brand-dimm);*/
    .custom-block.danger {
        border: 1px solid #c12222 !important;
        background-color: #331213;
        border-radius: 13px !important;
    }
    .custom-block.tip {
        border: 1px solid #4647a8 !important;
        background-color: #151525;
        border-radius: 13px !important;
    }
    .custom-block.info {
        border: 1px solid #596165 !important;
        background-color: #212327;
        border-radius: 13px !important;
    }
    .custom-block.warning {
        border: 1px solid #988233 !important;
        background-color: #272111;
        border-radius: 13px !important;
    }
}

.dark {
  /*--vp-custom-block-tip-border: var(--vp-c-brand);*/
  /*--vp-custom-block-tip-text: var(--vp-c-brand-lightest);*/
  /*--vp-custom-block-tip-bg: var(--vp-c-brand-dimm);*/
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

.flex {
    --size: 25px;
    margin-top: 32px;;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 5px; /* Расстояние между картинками */
    /*justify-content: center; !* Выравнивание по центру *!*/
}

.flex h3 {
    margin: 0 3px 0 0;
}

.flex img {
    width: var(--size);
    height: var(--size);
    background-color: #383838;
    border-radius: 25%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sex {
    padding: 4px;
}